Source: ros-melodic-ros-control-boilerplate
Section: misc
Priority: extra
Maintainer: Dave Coleman <davetcoleman@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libgflags-dev, ros-melodic-actionlib, ros-melodic-catkin, ros-melodic-cmake-modules, ros-melodic-control-msgs, ros-melodic-control-toolbox, ros-melodic-controller-manager, ros-melodic-hardware-interface, ros-melodic-joint-limits-interface, ros-melodic-roscpp, ros-melodic-rosparam-shortcuts, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-trajectory-msgs, ros-melodic-transmission-interface, ros-melodic-urdf
Homepage: https://github.com/davetcoleman/ros_control_boilerplate
Standards-Version: 3.9.2

Package: ros-melodic-ros-control-boilerplate
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-actionlib, ros-melodic-control-msgs, ros-melodic-control-toolbox, ros-melodic-controller-manager, ros-melodic-hardware-interface, ros-melodic-joint-limits-interface, ros-melodic-roscpp, ros-melodic-rosparam-shortcuts, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-trajectory-msgs, ros-melodic-transmission-interface, ros-melodic-urdf
Description: Simple simulation interface and template for setting up a hardware interface for ros_control
